<h2>All Ready!</h2>
<p>
We've gathered the basic information needed to create the campaign. Nice work!
</p>
<p>You can go back and make modifications, save the campaign and select it when creating posts in the future, or save the campaign and continue on to generating a list of posts -- which you can assign to yourself (or others) to create the content for later.</p>
<hr>
<div class="text-center row mobile-full-width-btns">
<button class='btn btn-info' {{action 'previousStep'}}>Previous Step</button>
<button class='btn btn-primary' {{action 'saveCampaign'}}>Save &amp; Exit {{field-description title="Click this button to save the campaign and move on to something else."}}</button>
<button class='btn btn-success' {{action 'nextStep'}}>Save &amp; Create Posting Schedule {{field-description title="Click this button to save the campaign and go to the scheduling calendar, where we will generate a list of recommended posting slots for the campaign."}}</button>
</div>
