
 
 
 <div class="dash-card" {{action 'click'}}>

                                    <div class="header {{statusColor}}" >

                                        <i class="fa {{statusIcon}}"></i> {{title}}

                                    </div>

                                    <div class="content">

                                        <div class="circle {{statusColor}}">

                                            <i class="fa {{icon}}"></i>

                                        </div>

                                        {{content}}{{#if footer}}, {{footer}}{{/if}}
                                        {{yield}}

                                    </div>

                                  

                                </div>
