<td>{{date-display brand=session.brand date=slot.dateTime}}</td>
<td>{{slot.networkType.name}}</td>
<td> <i class="fa fa-{{slot.socialAccount.platform}}"></i>  {{slot.socialAccount.title}}</td>
<td><button class="btn btn-sm btn-primary" {{action 'manage'}}>Manage</button></td>