<div class="form-group subscription-card-option">
  <div class="form-inline select-card">
    {{#radio-button
        value=true
        groupValue=showCards
        changed="showCardsChanged"}}
        Select from existing cards
    {{/radio-button}}
  </div>
  <div class="form-inline create-card">
    {{#radio-button
        value=true
        groupValue=newCard
        changed="newCardChanged"}}
        Create a new Card
    {{/radio-button}}
  </div>
</div>

{{#if showCards}}
  {{acceptance-marks}}
  <ul class="cards-list">
    {{#each cards as |card|}}
      {{#if card.id}}
        <li class="credit-card {{if (eq card.id selectedCard.id) 'active'}}" {{action 'selectCard' card}}>
          <label>Card Number</label>:<span>{{card.cardNumber}}</span>
          <label>Exp Date</label>:<span>{{card.expDate}}</span>
          <label>CVV No</label>:<span>{{card.ccv2cvc2}}</span>
        </li>
        <hr>
      {{/if}}
    {{/each}}
  </ul>

{{/if}}
{{#if newCard}}
  {{acceptance-marks}}
  <div class="form-group {{if cardChangeset.error.firstName.validation 'has-error'}}">
    <label>First Name</label> {{one-way-input cardChangeset.firstName class="form-control" placeholder="First Name" update=(action (mut cardChangeset.firstName))}}

    {{#each cardChangeset.error.firstName.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>

  <div class="form-group {{if cardChangeset.error.lastName.validation 'has-error'}}">
    <label>Last Name</label> {{one-way-input cardChangeset.lastName class="form-control" placeholder="Last Name" update=(action (mut cardChangeset.lastName))}}

    {{#each cardChangeset.error.lastName.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>


  <div class="form-group {{if cardChangeset.error.address.validation 'has-error'}}">
    <label>Address</label> {{one-way-input cardChangeset.address class="form-control" placeholder="Address" update=(action (mut cardChangeset.address))}}

    {{#each cardChangeset.error.address.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>

  <div class="form-group {{if cardChangeset.error.country.validation 'has-error'}}">
    <label>Country</label> {{one-way-select cardChangeset.country options=(sort-by "name" locations) optionValuePath="id" optionLabelPath="name" class="form-control" promptIsSelectable=true prompt="Please select country:" update=(action (mut cardChangeset.country
    ))}}

    {{#each cardChangeset.error.country.validation as |message|}}
      <span class="help-block">{{message}}</span>
    {{/each}}
  </div>

  <div class="form-group {{if cardChangeset.error.province.validation 'has-error'}}">
    <label>State/Province</label> {{one-way-select cardChangeset.province options=(sort-by 'name' states.content) optionValuePath="id" optionLabelPath="name" class="form-control" promptIsSelectable=true prompt=(if states.isPending "Loading..." "Please
    select state/province") update=(action (mut cardChangeset.province ))}}

    {{#each cardChangeset.error.province.validation as |message|}}
      <span class="help-block">{{message}}</span>
    {{/each}}
  </div>

  <div class="form-group {{if cardChangeset.error.city.validation 'has-error'}}">
    <label>City</label> {{one-way-input cardChangeset.city class="form-control" placeholder="City" update=(action (mut cardChangeset.city))}}

    {{#each cardChangeset.error.city.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>

  <div class="form-group {{if cardChangeset.error.zip.validation 'has-error'}}">
    <label>Zip / Postal</label> {{one-way-input cardChangeset.zip class="form-control" placeholder="Zip / Postal" update=(action (mut cardChangeset.zip))}}

    {{#each cardChangeset.error.zip.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>


  <div class="form-group {{if cardChangeset.error.cardNumber.validation 'has-error'}}">
    <label>Card Number</label> {{one-way-input cardChangeset.cardNumber class="form-control" placeholder="Card Number" update=(action (mut cardChangeset.cardNumber))}}

    {{#each cardChangeset.error.cardNumber.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>


  <div class="form-group {{if cardChangeset.error.ccv2cvc2.validation 'has-error'}}">
    <label>CVV Number</label> {{one-way-input cardChangeset.ccv2cvc2 class="form-control" placeholder="CVV Number" update=(action (mut cardChangeset.ccv2cvc2))}}

    {{#each cardChangeset.error.ccv2cvc2.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>


  <div class="form-group {{if cardChangeset.error.expDate.validation 'has-error'}}">
    <label>Expiration Month</label>
    {{one-way-select cardChangeset.expirationDate.month options=months class="form-control" prompt="Please select month:"  update=(action (mut cardChangeset.expirationDate.month ))}}
    <br>
    <label>Expiration Year</label>
    {{one-way-select cardChangeset.expirationDate.year options=years class="form-control" prompt="Please select year:"  update=(action (mut cardChangeset.expirationDate.year ))}}
    {{#each cardChangeset.error.expDate.validation as |error|}}
      <span class="help-block error">{{error}}</span>
    {{/each}}
  </div>

{{/if}}
