<div class="right-panel">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active">
      <form class="" autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Brand name</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-input changeset.name
                                class="form-control"
                                placeholder="Brand Name"
                                update=(action (mut changeset.name))}}

                {{#if changeset.error.name}}
                  <span class="help-block error">{{changeset.error.name.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Vertical</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-select changeset.vertical
                                 optionValuePath="id"
                                 optionLabelPath="vertical"
                                 class='form-control'
                                 prompt="Please select vertical"
                                 promptIsSelectable=true
                                 options=model.verticals
                                 update=(action (mut changeset.vertical))}}

                {{#if changeset.error.vertical}}
                  <span class="help-block error">{{changeset.error.vertical.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Phone</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-input changeset.phone
                                type="tel"
                                class="form-control"
                                placeholder="+1 (250) 208 5736"
                                update=(action (mut changeset.phone))}}

                {{#if changeset.error.phone}}
                  <span class="help-block error">{{changeset.error.phone.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Country</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-select changeset.country
                                 optionValuePath="id"
                                 optionLabelPath="name"
                                 class='form-control'
                                 prompt="Please select country"
                                 promptIsSelectable=ture
                                 disabled=states.isPending
                                 options=(sort-by 'name' model.locations)
                                 update=(action (mut changeset.country))}}

                {{#if changeset.error.state}}
                  <span class="help-block error">{{changeset.error.state.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">City</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-input changeset.city
                                class="form-control"
                                placeholder="City"
                                update=(action (mut changeset.city))}}

                {{#if changeset.error.city}}
                  <span class="help-block error">{{changeset.error.city.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">State / Province</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-select changeset.state
                                 optionValuePath="id"
                                 optionLabelPath="name"
                                 class='form-control'
                                 prompt=(if states.isPending "Loading..." "Please select state/province")
                                 options=(sort-by 'name' states.content)
                                 update=(action (mut changeset.state))}}

                {{#if changeset.error.state}}
                  <span class="help-block error">{{changeset.error.state.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Zip / Postal</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-input changeset.postal
                                class="form-control"
                                placeholder="V9B-0B1"
                                update=(action (mut changeset.postal))}}

                {{#if changeset.error.postal}}
                  <span class="help-block error">{{changeset.error.postal.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Address</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-input changeset.address
                                class="form-control"
                                placeholder="123 Your Street"
                                update=(action (mut changeset.address))}}

                {{#if changeset.error.address}}
                  <span class="help-block error">{{changeset.error.address.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label class="control-label col-md-4 col-sm-12 col-xs-12 text-right">Description</label>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                {{one-way-textarea changeset.description
                                   rows="3"
                                   class="form-control"
                                   placeholder="Description"
                                   update=(action (mut changeset.description))}}

                {{#if changeset.error.description}}
                  <span class="help-block error">{{changeset.error.description.validation}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>


        <div class="submit-btn ml-20">
          <button type="submit" class="btn btn-success pull-right text-uppercase" {{action "updateInfo"}}
                  disabled={{isSubmitted}}>
            {{if isSubmitted "Saving..." "Save"}}
          </button>

          <button type="reset" class="btn btn-default pull-right text-uppercase" {{action "cancel"}}
                  disabled={{isSubmitted}}>
            Cancel
          </button>
        </div>
      </form>

    </div>
  </div>
</div>