<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: left;">Card Number</th>
      <th>Exp Date</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody class="cards-list">
    {{#each cards as |card index|}}
      {{#if card.id}}
        <tr class="credit-card {{if (eq card.id subscription.card.id) 'active'}}" data-index="{{index}}">
          <td>
            <div class="select-check">
              {{#if (eq card.id subscription.card.id)}}
                <i class="fa fa-check" aria-hidden="true"></i>
              {{/if}}
            </div>
            <div class="card-number">
              {{card.cardNumber}}
            </div>
          </td>
          <td>{{card.expDate}}</td>
          <td>{{card.firstName}}</td>
          <td>{{card.lastName}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
