{{#side-menu side="right" width="250px" classNames="burger-menu"}}
  {{#if session.isMobileNotificaitonOpen}}
    {{company-compo/aside isClosed=(readonly companyAsideClosed)
                          toggle=(action (toggle "companyAsideClosed" this))}}
  {{else}}
    {{#if session.isMobileChatOpen}}
      {{#if session.brand.id}}
        {{mobile-compo/chat-menu classNames="chat-bar-wrapper"
              brand=session.brand}}
      {{/if}}
    {{else}}

      {{mobile-compo/burger-menu model=model}}

    {{/if}}
  {{/if}}
{{/side-menu}}
{{content-backdrop}}

<div class="mainwrapper {{if companyAsideClosed 'sidelesscontent'}}">
  <div class="container-fluid">
    {{company-header model=model.companies}}

    <div class="row page-wrapper">
      <div class="maincenter_container w-100">
        <div class="main-center wrps-dtls">
          <div class="wrapes-inbox">
            {{page-options}}
          </div>
          {{outlet}}
        </div>
      </div>

      {{company-compo/aside isClosed=(readonly companyAsideClosed)
                            toggle=(action (toggle "companyAsideClosed" this))}}
    </div>
  </div>
</div>
