<div class="right-panel">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active">
      <h3 class="model-heading">Personal informations</h3>
      <form class="form-horizontal account-wrape-form" autocomplete="off">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">First Name</label>
              <div class="col-md-8">
                {{one-way-input changeset.firstName type="text" class="form-control" placeholder="First Name" update=(action (mut changeset.firstName))}}

                {{#if changeset.error.firstName}}
                  <span class="help-block error">{{changeset.error.firstName.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">Last Name</label>
              <div class="col-md-8">
                {{one-way-input changeset.lastName type="text" class="form-control" placeholder="Last Name" update=(action (mut changeset.lastName))}}

                {{#if changeset.error.lastName}}
                  <span class="help-block error">{{changeset.error.lastName.validation}}</span>
                {{/if}}
              </div>

              <!-- </div class="form-group"> -->
            </div>
          </div>
          <!-- </div class="row""> -->
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">Phone</label>
              <div class="col-md-8">
                {{one-way-input changeset.phone type="tel" class="form-control" placeholder="+1 (250) 208 5736" update=(action (mut changeset.phone))}}
                {{#if changeset.error.phone}}
                  <span class="help-block error">{{changeset.error.phone.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">Country</label>
              <div class="col-md-8">
                {{one-way-select changeset.country optionValuePath="id" optionLabelPath="name" class='form-control' prompt="Please select country" promptIsSelectable=true disabled=states.isPending options=(sort-by 'name' model.locations) update=(action (mut changeset.country))}}

                {{#if changeset.error.country}}
                  <span class="help-block error">{{changeset.error.country.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>
          <!-- </div class="row""> -->
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">City</label>
              <div class="col-md-8">
                {{one-way-input changeset.city type="text" class="form-control" placeholder="City" update=(action (mut changeset.city))}}

                {{#if changeset.error.city}}
                  <span class="help-block error">{{changeset.error.city.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">State / Province</label>
              <div class="col-md-8">
                {{one-way-select changeset.state optionValuePath="id" optionLabelPath="name" class='form-control' prompt=(if states.isPending "Loading..." "Please select state/province") options=(sort-by 'name' states.content) update=(action (mut changeset.state))}}

                {{#if changeset.error.state}}
                  <span class="help-block error">{{changeset.error.state.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>
          <!-- </div class="row""> -->
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">Zip / Postal</label>
              <div class="col-md-8">
                {{one-way-input changeset.postalCode type="text" class="form-control" placeholder="V9B-0B1" update=(action (mut changeset.postalCode))}}

                {{#if changeset.error.postalCode}}
                  <span class="help-block error">{{changeset.error.postalCode.validation}}</span>
                {{/if}}
              </div>

              <!-- </div class="form-group"> -->
            </div>

            <div class="form-group">
              <label class="control-label col-md-4">Address</label>
              <div class="col-md-8">
                {{one-way-input changeset.address type="text" class="form-control" placeholder="123 Your Street" update=(action (mut changeset.address))}}

                {{#if changeset.error.address}}
                  <span class="help-block error">{{changeset.error.address.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-md-4">About</label>
              <div class="col-md-8">
                {{one-way-textarea changeset.about class="form-control" placeholder="About Information" update=(action (mut changeset.about))}}

                {{#if changeset.error.about}}
                  <span class="help-block error">{{changeset.error.about.validation}}</span>
                {{/if}}
              </div>
              <!-- </div class="form-group"> -->
            </div>
          </div>
          <!-- </div class="row""> -->
        </div>

        <div class="submit-btn ml-20">
          <button type="submit" class="btn btn-success pull-right text-uppercase" {{action "updateInfo"}} disabled= {{isSubmitted}}>
            {{if isSubmitted "Saving..." "Save"}}
          </button>

          <button type="reset" class="btn btn-default pull-right text-uppercase" {{action "cancel"}} disabled= {{isSubmitted}}>
            Cancel
          </button>
        </div>
        <!-- </form class="form-horizontal"> -->
      </form>
      <!-- </div class="tab-pane active"> -->
    </div>
    <!-- </div class="tab-content"> -->
  </div>
  <!-- </div class="right-panel"> -->
</div>
