<div class="row">
  <div class="col-md-3 col-sm-12 reviewfow_tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li class="{{if model.isTeamUsersActive 'active'}}">{{#link-to "brand.edit.team.list" class="text-uppercase text-center"}}Users{{/link-to}}</li>
      <li class="{{if model.isTeamRolesActive 'active'}}">{{#link-to "brand.edit.team.roles.list" class="text-uppercase text-center"}}Roles{{/link-to}}</li>
      <li class="{{if model.isTeamInvitesActive 'active'}}">{{#link-to "brand.edit.team.invites.list" class="text-uppercase text-center"}}Invites{{/link-to}}</li>
    </ul>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="tab-content">
      <div class="tab-pane active">
        <!-- <h3 class="model-heading">Brand add</h3> -->
        <div class="col-md-12">
          <form class="form-horizontal" {{action "addMember" on="submit"}}>
            <div class="form-group">
              <label for="username" class="col-md-3 control-label">User Email</label>
              <div class="col-md-9">
                {{input type="text" class="form-control" id="username" placeholder="Enter Email" value=model.brandInvite.email}}
                {{#each model.errors.email as |error|}}
                  <span class="help-block">{{error.message}}</span>
                {{/each}}
                {{#each model.errors.exist as |error|}}
                  <span class="help-block">{{error.message}}</span>
                {{/each}}
              </div>
            </div>
            <div class="form-group">
              <label for="assignRole" class="col-md-3 control-label">User Role</label>
              <div class="col-md-9">

                {{#x-select value=model.roleId id="role-name" class="form-control" }}
                  <option value="">Select Role</option>
                  {{#each model.roles as |role|}}
                    {{#x-option value=role.id }} {{role.name}} {{/x-option}}
                  {{/each}}
                {{/x-select}}
                {{#each model.errors.role as |error|}}
                  <span class="help-block">{{error.message}}</span>
                {{/each}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success  text-uppercase">Send Invite</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
